*{
    padding: 0px;
    margin: 0px;

}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(161, 157, 157);
}

header{
    background-color: rgb(255, 127, 255);
    padding: 15px 40px;
}
header h1{
    font-size: 25px;
}
nav{
    margin-top: 10px;
}
nav a{
    color: black;
    text-decoration: none;
    margin-right: 25px;
}
main{
    background-color: rgb(151, 135, 45);
    padding: 10px 20px;
}

section{
    background-color: blue;
    padding: 10px 0px;
    border-radius: 10px; 
}
 p{
    /* width: 1180px; */
    background-color: burlywood;
    padding: 10px 20px;
    margin-bottom: 10px;
    /* text-align: center; */
}

footer{
    background-color: rgb(70, 118, 102);
}